<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Who am I? | Muhammad Andriansyah Putra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_6/mod.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        {% include "partials/header.html" %}
    </header>
    
    <div class="container">
      <h1><b>Hello.</b></h1>
      <h2>
        <p class="detail">I am Muhammad <span class="name">Andri</span>ansyah Putra.</p>
        <p class="detail">This year, I am living my <span class="name">19</span>th year since the very first time I arrived on earth.</p>
        <p class="detail">This year is also my second year running on college in <span class="name">Universitas Indonesia</span>, taking <span class="name">Information System</span> degree.</p>
        <p class="detail">I have a lot of interest, some of them are <span class="name">football</span>, <span class="name">films</span>, and <span class="name">music</span>.</p>
        <p class="detail">My life motto is <span class="name">"knowing is owning"</span>.</p>
      </h2>
    </div>

    <footer>
        {% include "partials/footer.html" %}
    </footer>
</body>
</html>
