<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
</head>
<body>
    {% if messages %}
        {% for i in messages %}
            <b style="color: rgb(13, 83, 141); font-size: large">
                {{i.name}},
            </b>
            <i style="font-size: small; color: darkgoldenrod">
                 {{i.created_date}}
            </i>
            <p style="color: whitesmoke; font-size: medium">
                {{i.message}}
            </p>
            <br><br>
        {% endfor %}   
        
        <form action="/6th_story" method="get">
            <input type="submit" class="btn btn-primary mb-2" value="Clear the Channel" name="destroy">
        </form>
    {% endif %}
</body>
</html>