<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Find Me | Muhammad Andriansyah Putra</title>
    {% include "lab4/head.html" %}
</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          <li><a href="/4th_story">Home</a></li>
          <li><a href="/4th_story/about">Who am I?</a></li>
          <li><a href="/4th_story/cv">Résumé</a></li>
          <li class="active"><a href="/4th_story/contact"><b>Find Me</b></a></li>
          <li><a href="/4th_story/form">Guest Form</a></li>
        </div>
      </div>
    </nav>

    <div class="container">
        <h1><b>Want to <br>get in touch with me?</b></h1>
    </div>
    <div class="container">
        <h2>
          <div style="margin-left: 25px">
            <p>You can have me here :</p>
            <p>
              <a href="https://twitter.com/andriansyahptr_" class="fa fa-twitter" role="button" style="border-radius: 20%"></a> andriansyahptr_
            </p>
            <p style="margin-top: -10px">
              <a href="https://www.instagram.com/andriansyahputraa/" class="fa fa-instagram" role="button" style="border-radius: 20%"></a> andriansyahputraa
            </p>
            <p style="margin-top: -10px">
              <a href="https://plus.google.com/u/0/102475018922976942502?tab=mX" class="fa fa-google-plus-official" role="button" style="border-radius: 20%"></a> andrinhoptr@gmail.com
            </p>
          </div>
        </h2>
    </div>

    <footer>{% include "lab4/footer.html" %}</footer>
</body>
</html>
