<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Guest Form | Muhammad Andriansyah Putra</title>
    {% include "lab4/head.html" %}
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          <li><a href="/4th_story">Home</a></li>
          <li><a href="/4th_story/about">Who am I?</a></li>
          <li><a href="/4th_story/cv">Résumé</a></li>
          <li><a href="/4th_story/contact">Find Me</a></li>
          <li class="active"><a href="/4th_story/form"><b>Guest Form</b></a></li>
        </div>
      </div>
    </nav>

    <div class="container">
        <h1><b>Guest Form</b></h1>
        <h2><i>Help me, <br> Fill in the blank, please.</i></h2>
    </div>

    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Name: </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Date:</label>
        <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="">
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Subject: </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Message: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Send the message!</button>

    </form>

    <footer>{% include "lab4/footer.html" %}</footer>
</body>
</html>
