<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Home | Muhammad Andriansyah Putra</title>
    {% include "lab4/head.html" %}
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          <li class="active"><a href="/4th_story"><b>Home</b></a></li>
          <li><a href="/4th_story/about">Who am I?</a></li>
          <li><a href="/4th_story/cv">Résumé</a></li>
          <li><a href="/4th_story/contact">Find Me</a></li>
          <li><a href="/4th_story/form">Guest Form</a></li>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1><b>Welcome.</b></h1>
      <h2><i>Selamat Datang.</i></h2>
    </div>

    <footer>{% include "lab4/footer.html" %}</footer>

</body>
</html>
