{% extends "layout/basehtml_lab11.html"%}
{% load staticfiles %}
{% block content %}

<div class="container" style="margin-top: 80px;">
    <h1 style="text-align: left;">Books, books, books.</h1>
    <h2 style="font-style: italic; text-align: left">Reading is fun.</h1>
    <div style="margin-top: 45px;">
        <div class="theme-select">  
            <h3><b>Don't like the theme?</b></h3>
            <h4><i>Just change it.</i></h4>
            <br><br>
            <button class="btn btn-info" id="blue">Ice Blue</button>
            <button class="btn btn-danger" id="pink">Shiny Violet</button>
        </div>
    </div>

    <div>
        <h4 style="text-align: center; margin: 45px 0;">
            Books you've favorited so far: <span id="fav" style="color:rgb(187, 159, 36); font-weight: bold"></b>0</span>
        </h4>
        <button type="button" onclick='choose_api("architecture")' class="btn btn-outline-secondary" id="architecture">Architecture</button>
        <button type="button" onclick='choose_api("comic")' class="btn btn-outline-secondary" id="comic">Comic</button>
        <button type="button" onclick='choose_api("quilting")' class="btn btn-outline-secondary" id="quilting">Quilting</button>
    </div>
    

    <div class="table-responsive" style="margin-top: 20px">          
        <table id="myTable" class="table">
            <thead style="color: rgb(207, 120, 20);">
                <tr>
                    <th style="text-align: center">#</th>
                    <th style="text-align: center">Title</th>
                    <th style="text-align: center">Author</th>
                    <!-- <th style="text-align: center">Date Published</th>
                    <th style="text-align: center">Book</th>
                    <th style="text-align: center">Description</th> -->
                    <th style="text-align: center">Add to Favorite</th>
                </tr>
            </thead>
            <tbody style="text-align: center; color: white">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}