{% extends "layout/basehtml_lab11.html"%}
{% load staticfiles %}
{% block content %}

    <div class="container" style="margin-top:100px; padding:30px">
        <div class="theme-select">  
            <h3><b>Don't like the theme?</b></h3>
            <h4><i>Just change it.</i></h4>
            <br><br>
            <button class="btn btn-info" id="blue">Ice Blue</button>
            <button class="btn btn-danger" id="pink">Shiny Violet</button>
        </div>
    </div>
        
    {% if user and not user.is_anonymous %}
        <div class="container" id="welcome" style="margin-top: 100px;">
            <h1><b>Welcome, {{ user.username }}.</b></h1>
            <h2><i>Selamat Datang.</i></h2>
        </div>

        <div class="container" id="contact" style="margin-top: 100px;">
            <h1><b>Want to <br>get in touch with me?</b></h1>
            <h2>
                <div style="margin-left: 25px; margin-top: 45px">
                    <p>You can have me here :</p>
                    <p>
                        <a href="https://twitter.com/andriansyahptr_" class="fa fa-twitter" role="button" style="border-radius: 20%"></a> andriansyahptr_
                    </p>
                    <p style="margin-top: -10px">
                        <a href="https://www.instagram.com/andriansyahputraa/" class="fa fa-instagram" role="button" style="border-radius: 20%"></a> andriansyahputraa
                    </p>
                    <p style="margin-top: -10px">
                        <a href="https://plus.google.com/u/0/102475018922976942502?tab=mX" class="fa fa-google-plus-official" role="button" style="border-radius: 20%"></a> andrinhoptr@gmail.com
                    </p>
                </div>
            </h2>
        </div>

        <div class="container" id="signout" style="margin-top: 100px; margin-bottom:120px;">
            <h1>You wanna go already?</h1>
            <h2 style="margin-bottom:50px">Just remember to come back here again.</h2>
            <a href="/11th_story/logout" onclick="signOut();"><button class="btn btn-submit btn-lg btn-block">Sign out</button></a>
        </div>

    {% else %}
        {% include "login.html" %}        
    {% endif %}
                    
{% endblock %}