{% extends "layout/basehtml_lab11.html"%}
{% load staticfiles %}

{% block content %}
    <div class="container" style="margin_top: 150px; padding: 50px;">
        <h1>Hmmm, I don't know you. Do you know me?</h1>
        <h2>If you do, please <i>Login with your Google account.</i></h2>
        <br><br><br><br>
        <a href="{% url 'social:begin' 'google-oauth2' %}" style="margin:50px">
            <img src="{% static 'lab_11/img/google_signin.png' %}" />
        </a><br>
    </div>
    
{% endblock %}