@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

@media (min-height: 1000px) {

}

body {
    background: url("lab_6/city_sunset_skyline_123875_2160x3840.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 40px;
}

h1 {
    color: rgb(229, 0, 153);
    font-size: 80px;
    font: Lato;
    margin-bottom: -5px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font: Lato;
    margin-top: -5px;
}

.nav.navbar-nav {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    border-width: 0;
}

.navbar-inverse {
    background-color: rgba(12, 2, 2, 0.5);
    border-color: rgba(12, 2, 2, 0.5);
    border-width: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F2F2F2;
    background-color: rgb(37, 17, 83);
    text-decoration: none;
    font-size: 20px;
    font: Lato;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
    background-color: #3F7AFF;
}

.navbar-inverse .navbar-nav > .active > a {
    color: rgb(229, 0, 0);
    background-color: #3F7ABB;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus, {
    background-color: #3F7AFF;
    color: rgb(229, 0, 0);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(26, 5, 5, 0.5);
    color: rgb(28, 28, 29);
    font-size: 16px;
    font: Lato;
    height: 40px;
}

.footer p {
    position: fixed;
    bottom: 0;
    right: 20px;
}

.container {
    background-color: rgba(5, 5, 5, 0.8);
    padding: 40px;
}


form {
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(5, 5, 5, 0.8);
    padding: 40px;
    color: white
}



