@media (min-width: 768px) {
    .navbar-nav {
        float: none;
	}
}

html, body {
    background: url("https://images.unsplash.com/photo-1531213203257-16afb0eac95e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1daacf4b5da82b7658e7409d55800c4&w=1000&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;  
    padding-bottom: 40px;
}

h1 {
    color: #e50099;
    font-size: 80px;
    font: Lato;
    margin-bottom: -5px;
}

h2 {
    color: #FFFFFF;
    font-size: 35px;
    font: Lato;
    margin-top: -5px;
}

h3 {
    color: #cfab09;
    font-size: 25px;
    font: Lato;
    margin-bottom: -5px;
}

h4 {
    color: #ffffff;
    font-size: 18px;
    font: Lato;
    margin-bottom: -5px;
}

h4 > p.detail { color: #ffffff;}
h4 > p > span.name { color:#00A6FF;}

.theme-select{
	text-align:center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0c020280;
	color: #e50099;
    font-size: 16px;
    font: Lato;
	height: 60px;
	margin-top: 100px;
}

.footer p {
    position: fixed;
    bottom: 0;
	right: 20px;
	padding: 5px;
}

.container {
	background-color: #050505cc;
	margin-bottom:40px; 
	margin-top: 40px;
}







