<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Home | Muhammad Andriansyah Putra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_6/mod.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="header">
      {% include "partials/header_part.html" %}
    </header>

    <div class="container">
      <h1><b>Hello.</b></h1>
      <h2><i>Apa Kabar?</i></h2>
    </div>

    <section name="form">
      <form class="post-form" method="POST" action="/7th_story/status_send">
          {% csrf_token %}
          {{ message_form.as_p }}
          <br>
          <button id="submit" type="submit" class="btn btn-default">Send !</button>
      </form>
    </section>

    <div class="content container">
      <div class="row">
          <div class="col-md-8">
            {% include "result.html" %}
          </div>
      </div>
    </div>

    <footer class="footer">
      {% include "partials/footer_part.html" %}
    </footer>
</body>
</html>
