<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Home | Muhammad Andriansyah Putra</title>
    {% include "partials/head.html" %}
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          <li><a href="/5th_story"><b>Home</b></a></li>
          <li><a href="/5th_story/desc">Who am I?</a></li>
          <li><a href="/5th_story/resume">Résumé</a></li>
          <li><a href="/5th_story/find_me">Find Me</a></li>
          <li><a href="/5th_story/some_form">Guest Form</a></li>
          <li class="active"><a href="/5th_story/activities">Activity Booking</a></li>
          <li><a href="/5th_story/table">Schedule</a></li>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1><b>Have some upcoming activities?</b></h1>
      <h2><i>Write it down on your schedule.</i></h2>
      <section name="form">
        <form class="post-form" method="POST" action="/5th_story/result_form">
            {% csrf_token %}
            {{ message_form.as_p }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    </div>

    <footer>{% include "partials/footer.html" %}</footer>

</body>
</html>
