<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Who am I? | Muhammad Andriansyah Putra</title>
    {% include "partials/head.html" %}
</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          <li><a href="/5th_story"><b>Home</b></a></li>
          <li class="active"><a href="/5th_story/desc">Who am I?</a></li>
          <li><a href="/5th_story/resume">Résumé</a></li>
          <li><a href="/5th_story/find_me">Find Me</a></li>
          <li><a href="/5th_story/some_form">Guest Form</a></li>
          <li><a href="/5th_story/activities">Activity Booking</a></li>
          <li><a href="/5th_story/table">Schedule</a></li>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1><b>Hello.</b></h1>
      <h2>
        <p class="detail">I am Muhammad <span class="name">Andri</span>ansyah Putra.</p>
        <p class="detail">This year, I am living my <span class="name">19</span>th year since the very first time I arrived on earth.</p>
        <p class="detail">This year is also my second year running on college in <span class="name">Universitas Indonesia</span>, taking <span class="name">Information System</span> degree.</p>
        <p class="detail">I have a lot of interest, some of them are <span class="name">football</span>, <span class="name">films</span>, and <span class="name">music</span>.</p>
        <p class="detail">My life motto is <span class="name">"knowing is owning"</span>.</p>
      </h2>
    </div>

    <footer>{% include "partials/footer.html" %}</footer>
</body>
</html>
