{% extends "./layout/base.html" %}

{% block title %} Pesan dari {{ name }} {% endblock %}
{% block content %}
<textarea readonly rows="5" class="form-control" style="font-size: 20px; font: Lato; color: white; font-weight: bold; background-color: rgba(255, 255, 255, 0.25)">
    &quot;{{ title }}&quot; - {{ name }}
    Date and Time : {{ date }}
    Place : {{ place }}
    Category : {{ category }}
</textarea>
<H1>{{ result }}</H1>
{% endblock %}


