<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Résumé | Muhammad Andriansyah Putra</title>
    {% include "partials/head.html" %}
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          <li><a href="/5th_story"><b>Home</b></a></li>
          <li><a href="/5th_story/desc">Who am I?</a></li>
          <li class="active"><a href="/5th_story/resume">Résumé</a></li>
          <li><a href="/5th_story/find_me">Find Me</a></li>
          <li><a href="/5th_story/some_form">Guest Form</a></li>
          <li><a href="/5th_story/activities">Activity Booking</a></li>
          <li><a href="/5th_story/table">Schedule</a></li>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>
        <b>Now,<br>have a look on my Résumé.</b>
      </h1>
    </div>

    <div class="container" style="padding: 10px;">
      <div class="cv_head">
        <img src="https://i.pinimg.com/originals/0e/10/70/0e1070820b2c132002db4df0037eb3a8.jpg" width="175" height="230" align="center">
        <b>MUHAMMAD ANDRIANSYAH PUTRA</b>
        <p>Puri Gading Complex, Blok C9 no. 8B, Bekasi | 087872641457 | andrinhoptr@gmail.com</p>
      </div>

      <div class="left_align" align="left">
        <b><u>Educational Experience</u>  -------------</b>
        <p>Junior High School - SMPN 49 Jakarta</p>
        <p>Senior High School - SMAN 67 Jakarta</p>
        <p>College - Universitas Indonesia</p>
      </div>

      <div class="right_align" align="right">
        <b>-------------  <u>Organizational Experience</u></b>
        <p>Daily Board Secretary - OSIS SMPN 49 Jakarta</p>
        <p>Secretary - Deutsch Gruppe SMAN 67</p>
        <p>President - Forum Rohis SMAN 67</p>
        <p>Staf - FUKI Fasilkom UI, Al-Qur'an Department</p>
      </div>

      <div class="left_align" align="left">
        <b><u>Working Experience</u>  -------------</b>
        <p>Asian Games 2018 Volunteer - IT & Telecommunication Department</p>
      </div>

      <div class="right_align" align="right">
        <b>-------------  <u>Achievement</u></b>
        <p>Participant of National Science Olympiad 2016- Chemistry, City level</p>
      </div>

      <div class="left_align" align="left">
        <b><u>Soft Skills</u>  -------------</b>
        <p>
          Eagerness to learn
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%; height: 25px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </p>
        <p>
          Love to conquer challenges
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%; height: 25px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </p>
        <p>
          Openness to dive into new things
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; height: 25px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </p>
      </div>

      <div class="left_align" align="left">
        <b><u>Hard Skills</u>  -------------</b>
        <p>
          Microsoft Office
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%; height: 25px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </p>
        <p>
          Python Programming
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; height: 25px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </p>
        <p>
          Java Programming
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 45%; height: 25px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </p>
        <p>
          HTML Programming
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 30%; height: 25px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </p>
      </div>
    </div>
    <footer>{% include "partials/footer.html" %}</footer>
</body>
</html>
