{% extends "./layout/base.html" %}

{% block title %} Kumpulan Pesan {% endblock %}

{% block content %}
<!--  Populate semua isi pesan dari model -->
<table class="table" style="margin: 0px auto; color: white;">
    <thead style="color: #00A6FF">
        <th>Name</th>
        <th>Activity</th>
        <th>Date and Time</th>
        <th>Place</th>
        <th>Category</th>
    </thead>
    <tbody>
        {% for i in title %}
            <tr style="background-color: rgba(5, 5, 5, 0.8)">
                <td> {{i.name}} </td>
                <td> {{i.title}} </td>
                <td> {{i.date}} </td>
                <td> {{i.place}} </td>
                <td> {{i.category}} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<form action="#" method="get">
    <input type="submit" class="btn btn-primary mb-2" value="Reset Activities" name="destroy">
</form>

{% endblock %}
