<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Lab 11 | Muhammad Andriansyah Putra</title>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_11/css/cyan_eleventh.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_11/css/violet_eleventh.css' %}" as="style">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://static.vecteezy.com/system/resources/previews/000/184/568/non_2x/letter-a-typography-vector.png">
    <script type="text/JavaScript" src="{% static 'lab_11/js/eleventh.js' %}"></script>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="2941277164-q1snvhdsu189b1mtd54conbgaee8s82p.apps.googleusercontent.com"> -->
</head>

<body>
    <!-- <div id="loading">
        <div id="loading-image"></div>
    </div> -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <li><a href="/11th_story">Home</a></li>
                <li><a href="/11th_story/booklist">Book List</a></li>
            </div>
        </div>
    </nav>
    
    {% block content %}
    <!--content goes here-->
    {% endblock content %}

    <div class="footer">
        <p>© Muhammad Andriansyah Putra. All rights reserved.</p>
    </div>        
</body>
</html>