@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

@media (min-height: 1000px) {

}

body {
    background: url("https://bitnovosti.com/wp-content/uploads/2017/07/cities__039053_-2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 40px;
}

h1 {
    color: #E5C400;
    font-size: 80px;
    font: Lato;
    margin-bottom: -5px;
}

h2 {
    color: #FFFFFF;
    font-size: 35px;
    font: Lato;
    margin-top: -5px;
}


h2 > p.detail { color: white;}
h2 > p > span.name { color:#00A6FF;}


.nav.navbar-nav {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-width: 0;
}

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F2F2F2;
    background-color: #3F7ABB;
    text-decoration: none;
    font-size: 20px;
    font: Lato;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
    background-color: #3F7AFF;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #E5C400;
    background-color: #3F7ABB;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus, {
    background-color: #3F7AFF;
    color: #E5C400;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(52,63,75,1.0);
    font-size: 16px;
    font: Lato;
    height: 40px;

}

.footer p {
    position: fixed;
    bottom: 0;
    right: 20px;
}

.container {
    background-color: rgba(5, 5, 5, 0.8);
    padding: 40px;
    overflow:
}


form {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(5, 5, 5, 0.8);
    padding: 40px;
    color: white
}

.cv_head {
  font: Lato;
  margin-bottom: 80px;
}

.cv_head > img {
    border-radius: 50%;
    margin-top: 70px;
    padding: 10px;
}

.right_align {
  font: Lato;
  margin-right: 50px;
  margin-left: 35px;
  margin-bottom: 40px;
}

.left_align {
  font: Lato;
  margin-left: 50px;
  margin-bottom: 40px;
}

.cv_head b {
  color: #00A6FF;
  font-size: 55px;
}

.cv_head p {
  font-size: 20px;
  color: #FFFFFF;
}

.right_align b, .left_align b {
  color: #77D353;
  font-size: 40px;
}

.right_align p {
  margin-right: 25px;
  color: white;
  font-size: 30px;
}

.left_align p {
  margin-left: 25px;
  color: white;
  font-size: 30px;
}

