<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Lab 8 | Muhammad Andriansyah Putra</title>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_8/css/blue.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_8/css/pink.css' %}" as="style">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link rel="icon" type="image/png" href="https://static.vecteezy.com/system/resources/previews/000/184/568/non_2x/letter-a-typography-vector.png">
    <script rel = "preload" type="text/JavaScript" src="{% static 'lab_8/js/modified.js' %}"></script>
</head>

<body>
    <div id="loading">
        <div id="loading-image"></div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <li><a href="/8th_story">Home</a></li>
            </div>
        </div>
    </nav>

    <div class="container" id="welcome" style="margin-top: 100px;">
        <h1><b>Welcome, human.</b></h1>
        <h2><i>Selamat Datang.</i></h2>

        <div class="theme-select">  
            <h3><b>Don't like the theme?</b></h3>
            <h4><i>Just change it.</i></h4>
            <br><br>
            <button class="btn btn-info" id="blue">Ice Blue</button>
            <button class="btn btn-danger" id="pink">Shiny Violet</button>
        </div>
    </div>

    <div class="container" id="about" style="margin-top: 150px;">
        <h1><b>Hello.</b></h1>
        <h2 name="span">
            <p class="detail">I am Muhammad <span class="name">Andri</span>ansyah Putra.</p>
            <p class="detail">This year, I am living my <span class="name">19</span>th year since the very first time I arrived on earth.</p>
            <p class="detail">This year is also my second year running on college in <span class="name">Universitas Indonesia</span>, taking <span class="name">Information System</span> degree.</p>
            <p class="detail">I have a lot of interest, some of them are <span class="name">football</span>, <span class="name">films</span>, and <span class="name">music</span>.</p>
            <p class="detail">My life motto is <span class="name">"knowing is owning"</span>.</p>
        </h2>
    </div>

    <div class="container" id="cv" style="margin-bottom:-40px; margin-top: 80px;">
        <h1>
            <b>Now,<br>have a look on my Résumé.</b>
        </h1>
    
        <div class="container" style="margin-bottom: 40px;">
            <div class="cv_head" style="text-align: center;">
                <img class= "accordion" src="https://i.pinimg.com/originals/0e/10/70/0e1070820b2c132002db4df0037eb3a8.jpg" width="265" height="320" title="Psst! Click me!">
                <div class="panel">
                    <b>MUHAMMAD ANDRIANSYAH PUTRA</b>
                    <p>Puri Gading Complex, Blok C9 no. 8B, Bekasi | 087872641457 | andrinhoptr@gmail.com</p>
                </div>
            </div>
        </div>
        
        <div class="flex-container">
            <div class="flex-slide education">
                <div class="flex-title flex-title-home">Educational Experience</div>
                <div class="flex-about flex-about-home">
                    <ul>
                        <li>Junior High School - SMPN 49 Jakarta</li>
                        <li>Senior High School - SMAN 67 Jakarta</li>
                        <li>College - Universitas Indonesia</li>
                    </ul>
                </div>
            </div>
            <div class="flex-slide organization">
                <div class="flex-title">Organizational Experience</div>
                <div class="flex-about">
                    <ul>
                        <li>Daily Board Secretary - OSIS SMPN 49 Jakarta</li>
                        <li>Secretary - Deutsch Gruppe SMAN 67</li>
                        <li>President - Forum Rohis SMAN 67</li>
                        <li>Staf - FUKI Fasilkom UI, Al-Qur'an Department</li>
                    </ul>
                </div>
            </div>
            <div class="flex-slide work">
                <div class="flex-title">Working Experience</div>
                <div class="flex-about">
                    <ul>
                        <li>Asian Games 2018 Volunteer - IT & Telecommunication Department</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-slide soft">
                <div class="flex-title flex-title-home">Soft Skills</div>
                <div class="flex-about flex-about-home">
                    <ul>
                        <li>
                            <p>
                                Eagerness to learn
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%; height: 25px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                Love to conquer challenges
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%; height: 25px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                Openness to dive into new things
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%; height: 25px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="flex-slide achievement">
                <div class="flex-title">Achievement</div>
                <div class="flex-about">
                    <ul>
                        <li>Participant of National Science Olympiad 2016- Chemistry, City level</li>
                    </ul>
                </div>
            </div>
                
            <div class="flex-slide hard">
                <div class="flex-title">Hard Skills</div>
                <div class="flex-about">
                    <ul>
                        <li>
                            <p>
                                Microsoft Office
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%; height: 25px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                Python Programming
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%; height: 25px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                HTML Programming
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 65%; height: 25px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                Java Programming
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 55%; height: 25px;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                CSS Programming
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%; height: 25px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                        <li>
                            <p>
                                Javascript Programming
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%; height: 25px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="contact" style="margin-top: 100px; margin-bottom:120px;">
        <h1><b>Want to <br>get in touch with me?</b></h1>
        <h2>
            <div style="margin-left: 25px; margin-top: 45px">
                <p>You can have me here :</p>
                <p>
                    <a href="https://twitter.com/andriansyahptr_" class="fa fa-twitter" role="button" style="border-radius: 20%"></a> andriansyahptr_
                </p>
                <p style="margin-top: -10px">
                    <a href="https://www.instagram.com/andriansyahputraa/" class="fa fa-instagram" role="button" style="border-radius: 20%"></a> andriansyahputraa
                </p>
                <p style="margin-top: -10px">
                    <a href="https://plus.google.com/u/0/102475018922976942502?tab=mX" class="fa fa-google-plus-official" role="button" style="border-radius: 20%"></a> andrinhoptr@gmail.com
                </p>
            </div>
        </h2>
    </div>
                    
    <div class="footer">
        <p>© Muhammad Andriansyah Putra. All rights reserved.</p>
    </div>        
</body>
</html>
