@media screen and (max-width: 768px) {
	.flex-container { 
		flex-direction: column; 
	}
	.flex-title {
		transform: rotate(0deg) !important;
	}
	.flex-about {
		padding: 0%;
		border: 0px solid #f1f1f1;
	}
	.flex-slide {
		overflow: auto;
		overflow-x: hidden;
	}
	.flex-slide p {
		font-size: 20px;
	} 
	.flex-slide ul li {
		font-size: 20px;
	} 
	.flex-title-home {
		transform: rotate(90deg);
		top: 15%;
	}
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
	}
	.home {
		-moz-animation: aboutFlexSlide;
		-moz-animation-duration: 3s;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0s;
		-webkit-animation: aboutFlexSlide;
		-webkit-animation-duration: 3s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0s;
		animation: aboutFlexSlide;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 0s;
	}
	
	.flex-title-home {
		transform: rotate(90deg);
		top: 15%;
		-moz-animation: homeFlextitle;
		-moz-animation-duration: 3s;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0s;
		-webkit-animation: homeFlextitle;
		-webkit-animation-duration: 3s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0s;
		animation: homeFlextitle;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 0s;
	}

	.flex-about-home {
		-moz-animation: flexAboutHome;
		-moz-animation-duration: 3s;
		-moz-animation-iteration-count: 1;
		-moz-animation-delay: 0s;
		-webkit-animation: flexAboutHome;
		-webkit-animation-duration: 3s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 0s;
		animation: flexAboutHome;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 0s;
	  }
}

.flex-container {
	position: relative;
	height: 125vh;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	
}
  
.flex-title {
	color: #f1f1f1;
	position: relative;
	font-size:45px;
	margin: auto;
	text-align: center;
	transform: rotate(90deg);
	top: 15%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
  
.flex-about {
	opacity: 0;
	color: #f1f1f1;
	position: relative;
	width: 70%;
	font-size: 30px;
	padding: 5%;
	top: 20%;
	border: 2px solid #f1f1f1;
	border-radius: 10px;
	line-height: 1.3;
	margin: auto;
	text-align: left;
	transform: rotate(0deg);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
  
.flex-slide {
	-webkit-flex: 1;  /* Safari 6.1+ */
	-ms-flex: 1;  /* IE 10 */    
	flex: 1;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
  
.flex-slide:hover {
	-webkit-flex-grow: 3;
	flex-grow: 3;
}
  
@keyframes aboutFlexSlide {  
	0% {
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
	50% {
		-webkit-flex-grow: 3;
		flex-grow: 3;
	}
	100% {
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
}
  
@keyframes homeFlextitle {  
	0% {
		transform: rotate(90deg);
		top: 15%;
	}
	50% {
		transform: rotate(0deg);
		top: 15%;
	}
	100% {
		transform: rotate(90deg);
		top: 15%;
	}
}
  
@keyframes flexAboutHome {  
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.flex-about-home { 
	opacity: 0; 
}
  
.education {
	height: 125vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-macquarie-71208_1920.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
  
.organization {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/beach-2089959_1280.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.work {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-696098_1920.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.achievement {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/forest-208517_1280.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.soft {
	height: 125vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images2.alphacoders.com/550/550357.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.hard {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://s1.picswalls.com/wallpapers/2017/12/10/4k-ultra-hd-wallpapers_110629260_312.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

html, body {
    background: url("https://images.unsplash.com/photo-1531213203257-16afb0eac95e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1daacf4b5da82b7658e7409d55800c4&w=1000&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;  
    padding-bottom: 40px;
}

h1 {
    color: #e50099;
    font-size: 80px;
    font: Lato;
    margin-bottom: -5px;
}

h2 {
    color: #FFFFFF;
    font-size: 35px;
    font: Lato;
    margin-top: -5px;
}

h3 {
    color: #cfab09;
    font-size: 25px;
    font: Lato;
    margin-bottom: -5px;
}

h4 {
    color: #ffffff;
    font-size: 18px;
    font: Lato;
    margin-bottom: -5px;
}


h2 > p.detail { color: #ffffff;}
h2 > p > span.name { color:#e50099;}


.nav.navbar-nav {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-width: 0;
}

.navbar-inverse {
    background-color: #0c020280;
    border-color: #0c020280;
    border-width: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F2F2F2;
    background-color: #ac1078;
    text-decoration: none;
    font-size: 20px;
    font: Lato;
}

.navbar-inverse .navbar-nav > li {
    background-color: #e50099;
}

.theme-select{
	text-align:center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0c020280;
	color: #e50099;
    font-size: 16px;
    font: Lato;
	height: 60px;
	margin-top: 100px;
}

.footer p {
    position: fixed;
    bottom: 0;
	right: 20px;
	padding: 5px;
}

.container {
	background-color: #050505cc;
	margin-bottom:40px; 
	margin-top: 40px;
}


.cv_head {
  font: Lato;
  margin-bottom: 80px;
}

.cv_head > img {
	border-radius: 50%;
	margin-top: 70px;
	margin-bottom: 30px;
    padding: 10px;
}

.panel b {
  color: #e50099;
  font-size: 55px;
}

.panel p {
  font-size: 20px;
  color: #FFFFFF;
}

.accordion {
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
	background-color: #2f4f4f80;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block; 
	z-index: 99;
}

#loading-image {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("https://cdn.dribbble.com/users/105033/screenshots/1132714/loading-animation-800.gif") center no-repeat #000;
} 








