<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello, welcome to my site. My name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Currently I am a college student in {{ college }}</article>
    <article>I have a lot of hobbies and interests, including {{ hobby }}</article>
    <article>{{desc}}</article>
    <img src = "http://www.about.tarung2017.com/foto/929.jpg" alt="Andri">
    <h2>On my left, there is my friend {{ fr_name }}</h1>
    <article>NPM : {{ fr_npm }}</article>
    <article>He is {{ fr_age }} years old</article>
    <article>Currently he is a college student in {{ fr_college }}</article>
    <article>He has a lot of hobbies and interests, including {{ fr_hobby }}</article>
    <article>{{fr_desc}}</article>
    <img src = "http://www.about.tarung2017.com/foto/526.jpg" width= "320" height= "220" alt="Lutfi">
    <h3>On my right, there is no one. Just empty seats.</h3>
    <img src = "https://pbs.twimg.com/media/DmYfNwIXsAA8UIU.jpg:large" width= "320" height= "220" alt="Empty seat. Mind to join?">
</body>
</html>
