<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Muhammad Andriansyah Putra</title>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/css/Xpink.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'main_menu/css/blueX.css' %}" as="style">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="{% static 'main_menu/js/mod.js' %}"></script>
    <link rel="icon" type="image/png" href="https://static.vecteezy.com/system/resources/previews/000/184/568/non_2x/letter-a-typography-vector.png">
</head>

<body>
    <div class="container" id="welcome" style="margin-top: 100px;">
        <h1><b>Welcome, human.</b></h1>
        <h2><i>Selamat Datang.</i></h2>

        <div class="theme-select">  
            <h3><b>Don't like the theme?</b></h3>
            <h4><i>Just change it.</i></h4>
            <br><br>
            <button class="btn btn-info" id="blue">Ice Blue</button>
            <button class="btn btn-danger" id="pink">Shiny Violet</button>
        </div>
    </div>

    <div class="container" id="about" style="margin-top: 150px;">
        <h1><b>Hello.</b></h1>
        <h2>This is the summary of my work on Web Programming so far.</h2>
        <h3><i>Feel free to have a look.</i></h3> <br> <br> <br>
        <h4 name="span" style="text-align: center;">
            <p class="detail">Story 1: <span class="name"><a href="{% url 'first' %}">Introduction to Web Programming</a></span></p>
            <p class="detail">Story 2: <span class="name">Design Your Own Website; no website.</span></p>
            <p class="detail">Story 3: <span class="name">HTML Bootstrap; no website.</span></p>
            <p class="detail">Story 4: <span class="name"><a href="{% url 'fourth' %}">Django (Views + Template)</a></span></p>
            <p class="detail">Story 5: <span class="name"><a href="{% url 'fifth' %}">Django (Models)</a></span></p>
            <p class="detail">Story 6: <span class="name"><a href="{% url 'sixth' %}">Unit Test</a></span></p>
            <p class="detail">Story 7: <span class="name"><a href="{% url 'seventh' %}">TDD (Unit + Functional Testing)</a></span></p>
            <p class="detail">Story 8: <span class="name"><a href="{% url 'eighth' %}">Java Script & JQuery</a></span></p>
            <p class="detail">Story 9: <span class="name"><a href="{% url 'ninth' %}">AJAX Dynamic Data Access</a></span></p>
            <p class="detail">Story 10: <span class="name"><a href="{% url 'tenth' %}">Web Service</a></span></p>
        </h4>
    </div>
                    
    <div class="footer">
        <p>© Muhammad Andriansyah Putra. All rights reserved.</p>
    </div>        
</body>
</html>
