{% load static %}
<html>
    <head>
        <title>Muhammad Andriansyah Putra</title>
        {% include "../partials/head.html" %}
    </head>
    <body>
        <div class="page-header">
           <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="nav navbar-nav">
                    <li><a href="/5th_story"><b>Home</b></a></li>
                    <li><a href="/5th_story/desc">Who am I?</a></li>
                    <li><a href="/5th_story/resume">Résumé</a></li>
                    <li><a href="/5th_story/find_me">Find Me</a></li>
                    <li><a href="/5th_story/some_form">Guest Form</a></li>
                    <li><a href="/5th_story/activities">Activity Booking</a></li>
                    <li><a href="/5th_story/table">Schedule</a></li>
                </div>
              </div>
            </nav>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
          {% include "../partials/footer.html" %}
        </footer>
    </body>
</html>
