{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <li class="active"><a href="/7th_story"><b>Home</b></a></li>
            </div>
        </div>
    </nav>
</body>
</html>
