<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Lab 10 | Muhammad Andriansyah Putra</title>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_10/css/cyan.css' %}" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'lab_10/css/violet.css' %}" as="style">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://static.vecteezy.com/system/resources/previews/000/184/568/non_2x/letter-a-typography-vector.png">
    <script type="text/JavaScript" src="{% static 'lab_10/js/jslab10.js' %}"></script>
    {% block javascript %}
        <!--javascript goes here-->
    {% endblock javascript %}
</head>

<body>
    <div id="loading">
        <div id="loading-image"></div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <li><a href="/10th_story">Home</a></li>
                <li><a href="/10th_story/subscribe">Subscribe</a></li>
                <li><a href="/10th_story/subscriber_list">Fans of Mine</a></li>
            </div>
        </div>
    </nav>
    
    {% block content %}
    <!--content goes here-->
    {% endblock content %}

    <div class="footer">
        <p>© Muhammad Andriansyah Putra. All rights reserved.</p>
    </div>        
</body>
</html>