{% extends "layout/base10.html"%}
{% load staticfiles %}
{% block content %}

    
    <div class="container" style="margin-top: 100px;">
        <h1>Here lies the list of fans of mine,</h1>
        <h2 style="margin: 15px 0;">My beloved subscribers.</h2>

        <div class="theme-select">  
            <h3><b>Don't like the theme?</b></h3>
            <h4><i>Just change it.</i></h4>
            <br><br>
            <button class="btn btn-info" id="blue">Ice Blue</button>
            <button class="btn btn-danger" id="pink">Shiny Violet</button>
        </div>

        {% csrf_token %}
        <div class="table-responsive" style="margin-top: 20px">          
            <table id="myTable" class="table">
                <thead style="color: rgb(207, 120, 20);">
                    <tr>
                        <th style="text-align: center">#</th>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Email</th>
                        <th style="text-align: center">Unsubscribe? :(</th>
                    </tr>
                </thead>
                <tbody style="text-align: center; color: white">
                </tbody>
            </table>
        </div>

        <div id = nosubs style="margin:20px">
            <p style="color:wheat">Currently, there are no subscribers. :(</p>
            <h3><i>Please subscribe.</i></h3>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function (e) {
        $.ajax({
            type : 'GET',
            url : '/10th_story/subscriber_list/data',
            dataType : 'json',
            success : function(data) {
                var response ='';

                for(var i=0; i < data.length; i++) {
                    response += '<tr id = '+ data[i].pk+'> <td>' + parseInt(i+1) +'</td> ';
                    response += '<td>' + data[i].fields.name + '</td>';
                    response += '<td>' + data[i].fields.email + '</td>';
                    response += '<td> <button class="btn btn-danger" onclick=\'unsubscribe('+data[i].pk+')\'><span class="glyphicon glyphicon-remove"></span></button></td></tr>';
                }

                $('tbody').html(response);
                $('#nosubs').css("display", "none");
                if (data.length == 0) {
                    $('#nosubs').css("display", "block");
                }
            }
        });
    })

    function unsubscribe(id) {
        var unsub = document.getElementById(id);
        console.log(id);
        unsub.remove();
        $.ajax({
            url:'/10th_story/subscriber_list/unsubscribe',
            dataType:"json",
            method: "POST",
            data:{'id':id},
        })

    }
</script>
{% endblock %}