{% extends "layout/base10.html"%}
{% load staticfiles %}
{% block content %}

<div class="container" style="margin-top: 100px;">
    <h1>Psst! Hey you!</h1>
    <h2 style="margin: 15px 0;">Yeah, you awesome mankind.</h2>

    <div class="theme-select">  
        <h3><b>Don't like the theme?</b></h3>
        <h4><i>Just change it.</i></h4>
        <br><br>
        <button class="btn btn-info" id="blue">Ice Blue</button>
        <button class="btn btn-danger" id="pink">Shiny Violet</button>
    </div>

    <h3 style="margin-top:80px;margin-bottom:50px;text-align: center">Love this kinda thing? <i>Why don't you subscribe?</i></h2>

    <section name="form">
        <form id="subscribe_form" class="form-group" method="POST">
            {% csrf_token %}
            {{ subscribe_form.as_ul }}
            <br>
            <button id="submit" type="submit" class="btn btn-default btn-block btn-lg">Subscribe me!</button>
        </form>
    </section>
</div>

{% endblock %}

{% block javascript %}
<script type="text/JavaScript">
    var email_ready = false;
    var password_ready = false;

    function email_check() {
        var user_email = $('#id_email').val();

        console.log("Masuk email_check: " + user_email);

        if (user_email.length > 0) {
            $.ajax({
                url: '/10th_story/check_email/' + user_email,
                method: 'GET',
                data: user_email,
                success: function(response) {
                    console.log(response);
                    if (!response.state) {
                        $('#id_email').css("background-color", "red");
                    } else {
                        $('#id_email').css("background-color", "green");
                        email_ready = true;
                    }
                }
            });
        }
        console.log("Keluar email_check: " + user_email + " " + email_ready);
    }

    function password_check() {
        var repassword = $('#id_reenterpasswd').val();
        console.log("Masuk password_check: " + repassword);

        if (repassword.length > 0) {
            if ($('#id_passwd').val() === repassword && repassword.length > 7) {
                $('#id_reenterpasswd').css("background-color", "green");
                password_ready = true;
            } else {
                $('#id_reenterpasswd').css("background-color", "red");
            }
        }
        console.log("Keluar password_check: " + repassword + " " + password_ready);
        console.log("Password: " + $('#id_passwd').val() + ", Repassword: " + repassword);
    }

    function check_form_state() {
        var username_ready = $('#id_name').val().length > 0;
        email_check();
        password_check();

        console.log("Cek tiga syarat");
        if (username_ready && email_ready && password_ready) {
            $("#submit").prop('disabled', false);
        } else {
            $("#submit").prop('disabled', true);
        }
        console.log("Keluar cek tiga syarat: password_ready: " + password_ready + ", email_ready: " + email_ready + ", username_ready: " + username_ready);
    }

    $(document).ready(function (e) {
        check_form_state();

        $('#id_name').change(check_form_state);
        $('#id_email').change(check_form_state);
        $('#id_reenterpasswd').keyup(check_form_state);

        (function(){
            $(".flex-slide").each(function(){
                $(this).hover(function(){
                    $(this).find('.flex-title').css({
                        transform: 'rotate(0deg)',
                        top: '10%'
                    });

                    $(this).find('.flex-about').css({
                        opacity: '1'
                    });
                }, function(){
                    $(this).find('.flex-title').css({
                        transform: 'rotate(90deg)',
                        top: '15%'
                    });

                    $(this).find('.flex-about').css({
                        opacity: '0'
                    });
                })
            });
        })();

        
        $('#subscribe_form').on('submit', function(event) {
            $.ajax({
                type : "POST" ,
                url: "/10th_story/subscribe_submit",
                data: {
                    name : $('#id_name').val(),
                    email : $('#id_email').val(),
                    password : $('#id_passwd').val(),
                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response) {
                    alert($('#id_name').val()+ " successfully subscribed! Enjoy the content. :)");
                    $('#id_name').val("");
                    username_ready = false;
                    $('#id_email').val("");
                    email_ready = false;
                    $('#id_passwd').val("");
                    $('#id_reenterpasswd').val("");
                    password_ready = false;
                    check_form_state();
                }
            });
            event.preventDefault();
        });
    });
</script>
{% endblock %}