@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

@media (min-height: 1000px) {

}

body {
    background: url('/static/lab_6/wallhaven-656581.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 40px;
}

h1 {
    color: #e50099;
    font-size: 80px;
    font: Lato;
    margin-bottom: -5px;
}

h2 {
    color: #ffffff;
    font-size: 35px;
    font: Lato;
    margin-top: -5px;
}

h2 > p.detail { color: #ffffff;}
h2 > p > span.name { color:#e50099;}


.nav.navbar-nav {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    border-width: 0;
}

.navbar-inverse {
    background-color: #0c020280;
    border-color: #0c020280;
    border-width: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F2F2F2;
    background-color:  #161212;
    text-decoration: none;
    font-size: 20px;
    font: Lato;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
    background-color: #e50099;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #161212;
    background-color: #e50099;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus, {
    background-color: #e50099;
    color: #161212;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1a050580;
    color: #e50099;
    font-size: 16px;
    font: Lato;
    height: 40px;
}

.footer p {
    position: fixed;
    bottom: 0;
    right: 20px;
}

.container {
    background-color: #050505cc;
    padding: 40px;
}


form {
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #050505cc;
    padding: 40px;
    color: white
}



